{{#partial "styles"}}
    <link rel='stylesheet' href='/css/app.css'>
{{/partial}}

{{#partial "content"}}
    <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="container">
            <div class="jumbotron jumbotron-fluid">

                <h2>Welcome to DDI Organisation Page. </h2>
                <p class="lead">Dream it. Believe it. Build it.</p>

            </div>
<!--            <hr>-->
<!--            <img src="images/1.jpg">-->
        </div>
{{/partial}}
{{>layout.hbs}}