{{#partial "styles"}}
    <link rel='stylesheet' href='/css/app.css'>
{{/partial}}

{{#partial "content"}}
    <h1>Department Form</h1>
    <br><br>
    <hr>
    <div class="questionnaire">
        <div class="form" id="department">
            <form action="/new/depForm" method="POST">
                <div class="form-group">
                    <label for="formGroupExampleInput">Department Name</label>
                    <input class="form-control" type="text" name="departmentName" placeholder="Enter Department Name" required><br>
                    <label for="formGroupExampleInput">Department Description</label>
                    <input class="form-control" type="text" name="departmentDescription" placeholder="Enter Department Description" required><br>
                    <label for="formGroupExampleInput">Number of Employees</label>
                    <input class="form-control" type="number" name="employeesNumber" placeholder="Enter total Number of Employees in department"><br><br>
                    <input class="form-control" type="submit" value="Save">
                </div>
            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id="viewDep">
            <table class="table table-dark">
                <thead class="head-dark">
                <tr>
                    <th scope="col">Department Name</th>
                    <th scope="col">Department Description</th>
                    <th scope="col">Number of Employees</th>
                </tr>
                </thead>
                <tbody>
                {{#if departments}}
                    {{#each departments}}
                        <tr>
                            <td>{{departmentName}}</td>
                            <td>{{departmentDescription}}</td>
                            <td>{{employeesNumber}}</td>
                        </tr>
                    {{/each}}
                {{/if}}
                </tbody>
            </table>
        </div>
{{/partial}}
{{> layout.hbs}}