<br><br>
{{#partial "content"}}
    <h1>Successfully Saved!</h1>
<br><br>
    <hr>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a href="#viewDep">View Departments</a>
        </li>
        <li class="nav-item">
            <a href="#viewUser">View Users</a>
        </li>
    </ul>
    {{/partial}}
{{>layout.hbs}}